
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    color:black;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 10px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    max-width: 1000px;
    background-color: white;
}

th, td {
    border: 1px solid white;
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: rgb(56, 235, 56);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: white;
}

tr:hover {
    background-color: chocolate;
    transition: 0.3s;
}

td {
    font-size: 14px;
    color: black;
}
