body{
    padding: 0px;
    margin: 0px;
}

ul li{
    display: inline-block;
    padding: 10px;
    padding-right: 50px;
    position:relabody;
   padding: 0px;
   margin: 0px;
   margin-right: 70px;
 }
ul{
    list-style-type: none;
    margin-right: 20px;
    vertical-align: middle;
   background-color: black;
   color: aliceblue;
   padding: 0px;
   margin: 0px;
   display: bltive;
    margin-left: 1px;
}

h3{
    background-color: chocolate;
    padding: 20px;
}
ul li:hover{
    background-color: green;
    color: black;
    transition-duration: 1s;
}
.dropdown{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    min-width: 200px;
    z-index: 1;
}
ul li:hover .dropdown {
    display: block;
}

.dropdown ul {
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    display: block;
    padding: 10px 20px;
    margin: 0;
}

.dropdown ul li:hover {
    background-color: darkgreen;
}
.button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
  }
.header{
    display: block;
    background-color: chocolate;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.ad{
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    display: flex;
}